body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
}

.hamburger-menu {
  font-size: 2em;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: gray;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  transform: translateX(-100%); /* Hide by default */
  transition: transform 0.3s ease;
}

.side-menu a {
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.side-menu a:hover {
  background-color: #575757;
}

/* Show the side menu when .open class is added */
.side-menu.open {
  transform: translateX(0);
}


header {
  height: 100px;
  background-color: rgb(223, 220, 220);
  padding: 10px;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;

}

header p{
  font-style: italic;
}

form {
        width: 300px;
        background-color: rgb(248, 242, 242);
        height: 400px;
        margin-left: 40%;
        border-radius: 20px;
        padding: 10px;
        border: 1px solid rgb(248, 242, 242);
        position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

h3 {
    margin-left: 120px;
}
input {
    padding: 50px;
    margin-left: 20px;
    border-radius: 8px;
    border: 1px solid white;
}

button {
    margin-top: 20px;
    margin-left: 120px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgb(57, 186, 6);  
    color: whitesmoke;  
}
.star-rating {
    display: flex;
    direction: row-reverse; /* Right to left alignment */
    justify-content: center;
    cursor: pointer;
  }
  
  .star {
    font-size: 30px;
    color: lightgray;
    transition: color 0.2s ease-in-out;
  }
  
  .star:hover  {
    color: gold;
  }
  
  .active {
    color: gold;
  }
  

/* Feedback Container */
.feedback-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
  
  /* Feedback Card */
  .feedback-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .feedback-card:hover {
    transform: scale(1.05);
  }
  
  /* Star Rating */
  .feedback-container p {
    margin: 10px 0;
    font-size: 20px;
  }
footer {
    background-color: rgb(232, 223, 223);
    height: 240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    margin-bottom: 0;
    
}
footer a {
    text-decoration: none;
}